.carosel-item1 {
	height: 400px;
	background-color: violet;
}

.carosel-text {
	color: #fff;
	text-align: center;
}

.carosel-text h3 {
	font-size: 20px;
	font-weight: normal;
	color: rgb(42, 38, 250);
}
.carosel-text p {
	font-size: 30px;
	color: blue;
	font-weight: bold;
}

@media (max-width: 992px) {
	.carosel-text p {
		font-size: 25px;
	}

	.carosel-text h3 {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	.carosel-text p {
		font-size: 20px;
	}

	.carosel-text h3 {
		font-size: 15px;
	}
}

@media (max-width: 992px) {
	.carosel-text {
		width: 100% !important;
	}
}
