.admin-sidebar-item {
	border-bottom: 1px solid #eee;
}

.admin-sidebar-item:hover {
	background-color: #f7f5f5;
	cursor: pointer;
}

.admin-sidebar {
	height: 100vh;
}

.input-add-image {
	visibility: hidden;
}

.add-image {
	cursor: pointer;
	width: 150px;
	margin-top: 20px;
}

.category-name {
	border: 2px solid #b9b9b9;
	outline: none;
	width: 600px;
	padding: 8px;
	border-radius: 5px;
}

.category-name:focus {
	border: 2px solid rgb(35, 35, 230);
}
